header{
    background-color: black;
    height: 100px;
    width: auto;
}
.outernav{
    display: flex;
    justify-content: space-between;
}

.innerrightnav{

}

.innerleftnav{
    color: white;
    padding: 40px;
}
 
.innerleftnav span {
    margin: 0 10px;
}
button{
    background-color: white;
    color:black; 
    padding:10px 15px;
    margin:30px 20px;
    border-radius: 15px;
}

.centerimage{
        background-color: black;
    height: 80vh;
    width: auto;

}

#image{
    background-image: url('https://devfolio.co/blog/content/images/2021/04/Devfolio_Logo-White.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 64px;
    width: 308px;
    margin: auto;
    background-position: center;
    padding: 15% 0px;

}

.image1{
    background-color: blueviolet;
    background-image: url('https://devfolio.co/blog/content/images/size/w1000/2024/02/Microsite-Cover-Image--720x368-.png');
    height: 28rem;
    width: 200rem;
    background-size: cover;
    margin: 10px 15px 0px 77px;
}

.text1{
    font-size: xx-large;
    font-weight: bolder;
}

.outerbox-article1{
    display: flex;

}

.text1 h1 {
    font-weight: 900;
}

.text1 p {
    font-size: small;
    color: darkgray;
}

